<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>La meilleur école francophone pour les cours particuliers</h1>
                <h2>À partir d'une analyse précise de vos besoins, nous trouvons le professeur particulier parfait et compatible avec votre
                enfant.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started">Se lancer</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i
                            class="fa fa-play"></i><span>Présentation</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="../../assets/images/girl_banner_clean.png" class="img-fluid animated"  alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->




<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 class="float-start">Heading</h1>
            <button type="button" class="btn btn-primary float-start">Call to action</button>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/girl_banner_clean.png" class="img-fluid img-thumbnail float-end mask" alt="...">
        </div>
    </div>
</div> -->




<!-- <div class="main" >
    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-5 col-md-pull-6">
                <h1>La meilleur école francophone pour les cours particuliers</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis libero ab perspiciatis cumque, cum,
                    quas et, alias temporibus eligendi non beatae sapiente! Quod incidunt voluptatibus reiciendis.</p>
                <a class="btn btn-outline-danger">Voir plus</a>
            </div>
            <div class="col-12 col-lg-7 col-md-push-6">
                <img src="../../assets/images/girl_banner_clean.png" height="550" alt="youth">
            </div>
        </div>
    </div>

</div>

<section id="strengths">
    <h1 class="text-center">Nos points fort</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-strenght col-md-pull-6">
            <h3>Nos professeurs particulier très experimentés</h3>
            <h6>À partir d'une analyse précise de vos besoins, nous trouvons le professeur particulier parfait et compatible avec votre
            enfant.</h6>
        </div>
        <div class="col-md-4 col-md-push-6">
           <img class="d-block mx-auto" src="../../assets/images/logo_small.png" />
        </div>
        <div class="col-md-2"></div>

    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img class="d-block mx-auto " src="../../assets/images/logo_small.png" />
        </div>

        <div class="col-md-4 text-strenght">
            <h3>Nos professeurs particulier très experimentés</h3>
            <h6>À partir d'une analyse précise de vos besoins, nous trouvons le professeur particulier parfait et compatible
                avec votre
                enfant.</h6>
        </div>
       
        <div class="col-md-2"></div>
    
    </div>
</section>
 -->