/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200;700;800;900&family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


a {
  color: #47b2e4;
  text-decoration: none;
}

h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(35,35,85);
}

h2{
    
     color: rgb(50, 50, 121);
     margin-bottom: 50px;
     font-size: 24px;
     font-weight: 400;
     line-height: 2rem;
}


h6{
    font-size: 1.1rem;
   
    color: rgb(24,24,49);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}*/
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  
  .whole {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}